<div class="jumbotron dashboard">
  <h2><span>(Data pending)</span> Pink</h2>
  <h3 class="currency btc"><span>(Data pending)</span> <i class="fab fa-btc"></i></h3>
  <h3 class="currency usd hidden"><span>(Data pending)</span> <i class="fas fa-dollar-sign"></i></h3>
  <h3 class="currency eur hidden"><span>(Data pending)</span> <i class="fas fa-euro-sign"></i></h3>
  <h3 class="currency gbp hidden"><span>(Data pending)</span> <i class="fas fa-pound-sign"></i></h3>
  <h4>(Data pending)</h4>
  <h5><span>(Data pending)</span> connections</h5>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <%= form_for @conn, command_path(@conn, :unlock), [as: :command, class: "form unlock hidden"], fn f -> %>
    <div class="form-group">
      <label>Passphrase</label>
      <%= password_input f, :passphrase, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit "Unlock Wallet", class: "btn btn-default form-control" %>
    </div>
  <% end %>
  <span id="wallet_unencrypted_message" class="alert alert-danger hidden">The wallet is currently unencrypted</span>
  <%= form_for @conn, command_path(@conn, :lock), [as: :command, class: "form lock hidden"], fn _f -> %>
    <div class="form-group">
      <%= submit "Lock Wallet", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
