<div class="jumbotron new-stake hidden" id="new_stake_panel">
  <%= render "new.html", conn: @conn %>
</div>
<div class="jumbotron stakes">
  <button type="button" class="btn btn-primary" id="new_stake_btn">New Side Stake</button>
  <button type="button" class="btn btn-primary hidden" id="cancel_stake_btn">Cancel Side Stake</button>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="name">Name</th>
        <th class="address">Address</th>
        <th class="percentage">Percentage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
