<%= form_for @conn, command_path(@conn, :add_side_stake), [as: :command, class: "form new-stake", onSubmit: "return confirm('Add side stake?')"], fn f -> %>
  <div class="form-group">
    <label>Name</label>
    <%= text_input f, :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Recipient Address</label>
    <%= text_input f, :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Percentage</label>
    <%= number_input f, :percentage, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit "Create Side Stake", class: "btn btn-primary form-control" %>
  </div>
<% end %>
