<div class="jumbotron new-transaction hidden" id="new_transaction_panel">
  <%= render "new.html", conn: @conn %>
</div>
<div class="jumbotron transactions">
  <button type="button" class="btn btn-primary" id="new_transaction_btn">New Transaction</button>
  <button type="button" class="btn btn-primary hidden" id="cancel_transaction_btn">Cancel Transaction</button>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="time">Time Received</th>
        <th class="address">Address</th>
        <th class="amount">Amount (Pink)</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><button class="btn btn-primary" id="load_transactions_btn">Load more</button></td>
      </tr>
    </tfoot>
  </table>
</div>
