<%= form_for @conn, command_path(@conn, :create_transaction), [as: :command, class: "form new-transaction", onSubmit: "return confirm('Please confirm that all details are correct. This cannot be reversed.')"], fn f -> %>
  <div class="form-group">
    <label>Wallet Password</label>
    <%= password_input f, :passphrase, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Recipient Address</label>
    <%= text_input f, :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Amount</label>
    <%= number_input f, :amount, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Message to recipient</label>
    <%= text_input f, :note, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit "Create Transaction", class: "btn btn-primary form-control" %>
  </div>
<% end %>
