<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PinkPi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="DownSouth">
    <meta name="description" content="The PinkPi Web Interface">
    <meta name="apple-mobile-web-app-title" content="PinkPi">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= static_path(@conn, "/images/web-icon.png") %>">
    <link rel="mask-icon" href="<%= static_path(@conn, "/images/pin-icon.svg") %>" color="#eb78ab">
    <link rel="apple-touch-icon" sizes="540x540" href="<%= static_path(@conn, "/images/mobile-icon.png") %>">
    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar hidden-xs">
          <%= render_shared "nav.html", [conn: @conn] %>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <footer class="visible-xs">
      <div class="container">
        <nav class="navbar">
          <%= render_shared "xs_nav.html", [conn: @conn] %>
        </nav>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
