<ul class="nav nav-pills nav-justified">
  <%= render_shared "nav_link.html", [conn: @conn, path: dashboard_path(@conn, :index), name: raw('<i class="fas fa-chart-line" aria-hidden="true"></i> Dashboard'), tooltip: "Dashboard"] %>
  <%= render_shared "nav_link.html", [conn: @conn, path: transaction_path(@conn, :index), name: raw('<i class="fas fa-exchange" aria-hidden="true"></i> Transactions'), tooltip: "Transactions"] %>
  <%= render_shared "nav_link.html", [conn: @conn, path: stake_path(@conn, :index), name: raw('<i style="margin-right: 2px;" class="fas fa-code-branch fa-rotate-90" aria-hidden="true"></i> Side Stakes'), tooltip: "Side Stakes"] %>
  <%= render_shared "nav_link.html", [conn: @conn, path: setting_path(@conn, :index), name: raw('<i class="fas fa-cog" aria-hidden="true"></i> Settings'), tooltip: "Settings"] %>
</ul>