<%= if @conn.request_path == @path do %>
  <li role="presentation" class="active"><%= link @name, to: @path, title: @tooltip %></li>
<% else %>
  <li role="presentation"><%= link @name, to: @path, title: @tooltip %></li>
<% end %>
