<ul class="nav nav-pills nav-justified">
  <%= render_shared "nav_link.html", [conn: @conn, path: dashboard_path(@conn, :index), name: raw('<i class="fas fa-chart-line fa-2x" aria-hidden="true"></i>'), tooltip: "Dashboard"] %>
  <%= render_shared "nav_link.html", [conn: @conn, path: transaction_path(@conn, :index), name: raw('<i class="fas fa-exchange fa-2x" aria-hidden="true"></i>'), tooltip: "Transactions"] %>
  <%= render_shared "nav_link.html", [conn: @conn, path: stake_path(@conn, :index), name: raw('<i class="fas fa-code-branch fa-rotate-90 fa-2x" aria-hidden="true"></i>'), tooltip: "Side Stakes"] %>
  <%= render_shared "nav_link.html", [conn: @conn, path: setting_path(@conn, :index), name: raw('<i class="fas fa-cog fa-2x" aria-hidden="true"></i>'), tooltip: "Settings"] %>
</ul>