$body-bg: #ffc0cb;
$brand-primary: darken($body-bg, 6.5%);
$link-color: white;
$nav-link-hover-bg: lighten($brand-primary, 10%);
$link-hover-color: $link-color;

@import "bootstrap";
@import "custom";