$footer-bg: lighten(#ffc0cb, 6.5%);
$footer-border-color: #ffc0cb;
$body-bg: #ffc0cb;

body {
  position: relative;
}
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: $footer-bg;
  padding: 10px 5px 0 5px;
  border-top: 1px $footer-border-color solid;
}

hr,
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-top: 1px solid $body-bg;
}
.nav-tabs-justified > .active > a,
.nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid $body-bg;
}

.nav-tabs-justified > li > a,
.nav-tabs.nav-justified > li > a,
.table > thead > tr > th {
  border-bottom: 1px solid $body-bg;
}
.nav > li > a {
  background-color: #ffd2da;
}
/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
}
.logo {
  width: 100%;
  height: 150px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/pink_logo.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  /*border-bottom: 1px solid #e5e5e5;*/
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

.jumbotron {
  background-color: rgb(255, 231, 236);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

th {
  text-align: center;
  white-space: nowrap;
}
td {
  text-align: center;
}
td:first-child {
  word-break: break-all;
}
@media screen and (max-width: 414px) {
  .logo {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 120px;
  }
  table{
    width: 96% !important;
    margin: 0 2%;
  }
  .address {
    display: none;
  }
  footer {
    .navbar {
      margin-top: 0;
      margin-bottom: 0;
      .nav {
        margin-top: 0;
        margin-bottom: 0;
      }
      .nav-justified {
        > li {
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .logo {
    height: 100px;
  }
  .nav > li > a {
    padding: 5px 15px;
  }
}
@media screen and (max-width: 320px) {
  .logo {
    margin-top: -10px;
    margin-bottom: 10px;
    height: 80px;
  }
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}